*~
*.d
*.o
*.lo
*.a
*.so
*.so.*
*.out
*.out.*
core
core.[0-9]*

build
trash
frame
#test
tst
Makefile_libconf
Makefile_preconf

liblora/docs/error-log.dat
liblora/docs/html
libhmrl/docs/error-log.dat
libhmrl/docs/html
benchmarks/*/result
test/res
tutorial/*/result
