##-------------------------------------------------------------------------------------------
#     Copyright (C) 2011  Akihiko Yamaguchi
#
#     This file is part of SkyAI.
#
#     This program is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This program is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
##-------------------------------------------------------------------------------------------
#     TODO:
#       1. generate a blank file:  touch Makefile_preconf
#       2. edit Makefile_preconf as follows (specify SKYAI_DIRECTORY):
#
#         include $(BASE_REL_DIR)/Makefile_preconf.sample
#         SKYAI_BASE := SKYAI_DIRECTORY
#
##-------------------------------------------------------------------------------------------
SKYAI_BASE := $(wildcard ~/proj/skyai)
##-------------------------------------------------------------------------------------------
EXEC :=
ARC :=
SO :=
OBJS :=
LOBJS :=
LIBOBJS :=
EXTRA_CLEAN :=
##-------------------------------------------------------------------------------------------
USING_SO:=true
SKYAI_SOVER:=0.1
##-------------------------------------------------------------------------------------------
CXX := g++
AR := ar
ifeq ($(DEBUG),true)
  CXXFLAGS := -g -Wall -rdynamic
else
  CXXFLAGS := -g -Wall -rdynamic -O3 -march=i686
endif
LDFLAGS  := $(CXXFLAGS)
RMFLAGS  :=  -vf
##-------------------------------------------------------------------------------------------
LIBS    := -I/usr/include -I/usr/local/include
LDLIBS  := -lm -L/usr/local/lib
##-------------------------------------------------------------------------------------------
