##-------------------------------------------------------------------------------------------
#     Copyright (C) 2011  Akihiko Yamaguchi
#
#     This file is part of SkyAI.
#
#     This program is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, either version 3 of the License, or
#     (at your option) any later version.
#
#     This program is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
#
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.
##-------------------------------------------------------------------------------------------
#     TODO:
#       1. copy this file:  cp Makefile_libconf.sample Makefile_libconf
#       2. edit Makefile_libconf
##-------------------------------------------------------------------------------------------
## for Octave
ifeq ($(USING_OCTAVE),true)
  LIBS += -I/usr/include/octave-`octave-config -v`
  LDLIBS += -L/usr/lib/octave-`octave-config -v` -loctave -lcruft -Wl,-rpath /usr/lib/octave-`octave-config -v`
  LDLIBS += -ldl -lfftw3 -L/usr/lib/atlas -latlas -llapack -lblas
endif
##-------------------------------------------------------------------------------------------
## for ODE
ifeq ($(USING_ODE),true)
  LIBODE := $(wildcard ~/prg)/libode/ode-0.10.1
  LIBS += -I$(LIBODE)/include
  LIBS += -DODE_MINOR_VERSION=10 -DdDOUBLE
  LDLIBS += $(LIBODE)/ode/src/.libs/libode.a
  LDLIBS += $(LIBODE)/drawstuff/src/.libs/libdrawstuff.a
  LDLIBS += -lSM -lICE -lGL -L/usr/X11R6/lib -lXext -lX11 -ldl -lGLU -lpthread
endif
##-------------------------------------------------------------------------------------------
